{
    "swagger": "2.0",
    "info": {
        "title": "Cloud Concept Graph",
        "version": "1.0",
        "description": "API Interface into the Cloud Compete Concept Graph which maps cloud services across the major providers including Microsoft Azure, Amazon Web Services, Google Cloud and more coming soon."
    },
    "host": "cloudconceptgraph.azure-api.net",
    "schemes": ["https"],
    "securityDefinitions": {
        "apiKeyHeader": {
            "type": "apiKey",
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header"
        },
        "apiKeyQuery": {
            "type": "apiKey",
            "name": "subscription-key",
            "in": "query"
        }
    },
    "security": [{
        "apiKeyHeader": []
    }, {
        "apiKeyQuery": []
    }],
    "paths": {
        "/services/{service_id}": {
            "get": {
                "description": "GET Services",
                "operationId": "get-serviceshttptrigger",
                "summary": "GET Service By Id",
                "parameters": [{
                    "name": "service_id",
                    "in": "path",
                    "description": "Id of a cloud service",
                    "required": true,
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Returns the service metadata."
                    }
                }
            }
        },
        "/gremlin": {
            "post": {
                "description": "POST Gremlin Query",
                "operationId": "post-gremlinqueryhttptrigger",
                "summary": "POST Gremlin Query",
                "parameters": [{
                    "name": "body",
                    "in": "body",
                    "schema": {
                        "$ref": "#/definitions/Body"
                    }
                }],
                "consumes": ["application/json"],
                "responses": {
                    "200": {
                        "description": "Returns the JSON result of your Gremlin query."
                    }
                }
            }
        },
        "/clouds": {
            "get": {
                "description": "Get all cloud providers",
                "operationId": "get-cloudshttptrigger",
                "summary": "GET Clouds",
                "responses": {
                    "200": {
                        "description": "Returns all cloud providers."
                    }
                }
            }
        },
        "/categories": {
            "get": {
                "description": "Get all categories.",
                "operationId": "get-categorieshttptrigger",
                "summary": "GET Categories",
                "responses": {
                    "200": {
                        "description": "Returns all categories."
                    }
                }
            }
        },
        "/search": {
            "get": {
                "description": "Gets cloud services from a search query. This api allows a pass through to Azure Search, for query information see the Azure Search docs: https://docs.microsoft.com/en-us/rest/api/searchservice/search-documents",
                "operationId": "get-services-search",
                "summary": "Search",
                "parameters": [{
                    "name": "search",
                    "in": "query",
                    "type": "string"
                }, {
                    "name": "$skip",
                    "in": "query",
                    "type": "integer"
                }, {
                    "name": "$top",
                    "in": "query",
                    "type": "integer"
                }, {
                    "name": "$filter",
                    "in": "query",
                    "type": "string"
                }, {
                    "name": "facet",
                    "in": "query",
                    "type": "string"
                }, {
                    "name": "$select",
                    "in": "query",
                    "type": "string"
                }, {
                    "name": "$count",
                    "in": "query",
                    "type": "string",
                    "enum": ["true", "false"]
                }, {
                    "name": "highlight",
                    "in": "query",
                    "type": "string"
                }, {
                    "name": "highlightPreTag",
                    "in": "query",
                    "type": "string"
                }, {
                    "name": "highlightPostTag",
                    "in": "query",
                    "type": "string"
                }, {
                    "name": "api-version",
                    "in": "query",
                    "type": "string",
                    "enum": ["2017-11-11"]
                }, {
                    "name": "searhFields",
                    "in": "query",
                    "type": "string"
                }, {
                    "name": "searchMode",
                    "in": "query",
                    "type": "string",
                    "enum": ["any", "all"]
                }, {
                    "name": "queryType",
                    "in": "query",
                    "type": "string",
                    "enum": ["full", "simple"]
                }, {
                    "name": "$orderby",
                    "in": "query",
                    "type": "string"
                }, {
                    "name": "scoringProfile",
                    "in": "query",
                    "type": "string"
                }, {
                    "name": "scoringParameter",
                    "in": "query",
                    "type": "string"
                }, {
                    "name": "minimumCoverage",
                    "in": "query",
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Returns search results."
                    }
                },
                "produces": ["application/json"]
            }
        },
        "/extract": {
            "post": {
                "description": "Named Entity Recognition and Linking of Cloud Services from unstructured text.",
                "operationId": "post-entity-linking",
                "summary": "POST Entity Linking",
                "parameters": [{
                    "name": "body",
                    "in": "body",
                    "schema": {
                        "$ref": "#/definitions/Body"
                    },
                    "description": "Unstructured Text"
                }],
                "consumes": ["application/json"],
                "responses": {
                    "200": {
                        "description": "Returns cloud services recognized in text."
                    }
                }
            }
        },
        "/services": {
            "get": {
                "description": "GET Services by cloud_id or category_id",
                "operationId": "5c5423127dafdb8c02157394",
                "summary": "GET Services",
                "parameters": [{
                    "name": "cloud_id",
                    "in": "query",
                    "description": "Cloud Provider id",
                    "type": "string"
                }, {
                    "name": "category_id",
                    "in": "query",
                    "description": "Cloud Provider Category id",
                    "type": "string"
                }],
                "responses": {
                    "200": {
                        "description": "Returns the service metadata."
                    }
                }
            }
        }
    },
    "definitions": {
        "Body": {
            "example": "{\n\t\"text\": \"Azure functions just announced support for python functions on the v2 runtime.\"\n}"
        }
    },
    "tags": []
}